<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <title>Añadir Videojuego</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='forms_style.css') }}" />
</head>
<body>
    <div class="container">
      <h1>Añadir Videojuego</h1>

<!--este bloque muestra un mensaje de exito en un cuadro con estilo solo si hay un mensaje para mostrar-->
      {% if mensaje %}
        <div class="alert alert-success">{{ mensaje }}</div>
      {% endif %}
  
   <!--crea un formulario que envia datos a add_videojuego con el metodo POST-->
      <form action="{{ url_for('add_videojuego') }}" method="post">

  <!-- crea un campo para ingresar el título del videojuego -->
        <div class="form-group">
          <label for="titulo">Título del juego</label>
          <input
            type="text"
            id="titulo"
            name="titulo"
            class="form-control"
            placeholder="Introduce el título"
            required
          />
        </div>
  
<!-- lista para elegir el genero del videojuego -->
         <div class="form-group">
          <label for="genero">Género</label>
          <select id="genero" name="genero" class="form-control" required>
            <option value="" disabled selected>-- Selecciona género --</option>
            {% for g in generos %} <!-- empieza un bucle para mostrar todos los generos disponibles -->
              <option value="{{ g.id }}">{{ g.nombre }}</option> <!-- Aqui se muestra cada genero en el menu de seleccion -->
            {% endfor %}   <!-- Termina el bucle despues de mostrar todos los generos -->
          </select>
        </div>
  

<!-- lista para elegir la consola del videojuego -->
        <div class="form-group">
          <label for="consola_id">Consola</label>
          <select id="consola_id" name="consola_id" class="form-control" required>
            <option value="" disabled selected>-- Selecciona consola --</option>
            {% for c in consolas %} <!-- empieza un bucle para mostrar todas las consolas disponibles -->
              <option value="{{ c.id }}">{{ c.nombre }}</option> <!-- Aqui se muestra cada consola disponible en el menu de seleccion -->
            {% endfor %}  <!-- Termina el bucle despues de mostrar todas las consolas -->
          </select>
        </div>
  
        <button type="submit" class="btn">Guardar Videojuego</button>
      </form>
  
      <p><a href="{{ url_for('index') }}">← Volver al listado</a></p>
    </div>
  </body>
  </html>